
.sizePhoto {
   weight: 100px;
   height: 100px
}


.box {
   display: flex;
   max-width: 500px;
   justify-content: space-between;
   padding: 5px;
   color: white;
}

.block {
   display: block;
   margin-right: 10px;
}

.body {
   max-width: 300px;
   padding: 10px 0 0 10px;
}

.btn {
   padding: 0.2em 1em;
   font-size: 0.8em;
   color: #fff;
   background-color: blueviolet;
   border-width: 0;
   border-radius: 0.4em;
   margin-bottom: 1rem;
   margin-right: 1rem;
}

.page {
   font-weight: bold;
   cursor: pointer;
}

.cursor {
   cursor: pointer;
}
