
.appHeader {
   grid-area: header;
   background-color: cornflowerblue;

}

.appHeader img {
   max-width: 50px;
}

.login {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 5px 20px 5px 10px;
}

.navLogin  {
   text-decoration: none;
   color: white;
}

