
.body {
   padding: 20px 0 60px 20px;

}

.body a {
   text-decoration: none;
   color: white;
   margin-bottom: 10px;
   font-size: 20px;
}

.body a.active {
   color: darkmagenta;
   font-weight: 700;
   font-size: 25px;
}